@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

body {
    color: theme('colors.main-black');
}

a,
button {
    transition: 0.3s;
}

a:hover,
button:hover,
button img:hover {
    opacity: 0.8;
}

.mdx-content blockquote {
    border-left: 3px solid theme('colors.main-black');
    padding-left: 10px;
    font-size: 0.8em;
}

.mdx-content a,
.mdx-content h1 {
    position: relative;
    color: theme('colors.main-blue');
    font-weight: 700;
}

.mdx-content a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: theme('colors.main-blue');
}

.mdx-content h1 a:after {
    content: none;
}
